body
{
    font-family:'Dongle', sans-serif;
    background-color: bisque;
}
h1
{
    text-align: center;
    color: chocolate;
}
h2
{
    color: coral;
}
p
{
    color: rgb(112, 56, 16);
}
li
{
    color: rgb(112, 56, 16);
}